body {
    margin-left: 520px;
    margin-right: 520px;
    background-color: aliceblue;
    padding-top: 32px;
    padding-bottom: 64px;
}

/* SECTIONS */
section {
    background-color: white;
    color: black;
    font-family: Helvetica Neue LT Std, serif;
    font-size: 1.1em;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    width: 960px;
    text-align: left;
}

section#title {
    background-color: aliceblue;
    font-family: 'Heebo', sans-serif;
    text-align: left;
}

section#main1 {
    background-color: white;
}

section#main2 {
    background-color: aliceblue;
}

section#main3 {
    background-color: white;
}

section#footer {
    background-color: lightgrey;
    text-align: right;
    padding-top: 120px;
}

/* TWO COLUMN LAYOUT */
div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.leftcolumn {
    width: 440px;
    float: left;
}

div.rightcolumn {
    width: 440px;
    float: right;
}

/* HEADINGS */
h1.title1 {
    font-size: 2.3em;
    margin: 0;
}

h1.title2 {
    font-size: 5em;
    margin: 0;
    line-height: 100px;
}

h1.heading {
    font-size: 2em;
    margin: 0;
}

h3.subheading {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 4px;
}

/* CHARTS */
div#temporallinechart {
    width: 960px;
}

div#carbonmap {
    width: 960px;
}

div#topkchart {
    width: 960px;
}